{% extends "base.html" %}

{% block content %}
<content>
  <div class="container">
    <br>
    <br>
    <br>
    <section name="form">
      <h2 class="textcol">Add Friend</h2>
      <form class="textcol" id="form" method="POST" action="{% url 'app_addFriend:add_friend' %}">
        {% csrf_token %}
        {{ friend_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </section>
  </div>

  <div class="container">
    <h3 class="textcol">List Friend</h3>
    {% for friend_data in friend_dict %}
      <div class="textcol">
        <div class="col-md-4 col-xs-4">
          {{ friend_data.name }}
        </div>
        <div class="col-md-4 col-xs-4">
          <a href={{ friend_data.URL}} target="_blank">{{ friend_data.URL }}</a>
        </div>
        <div class="col-md-4 col-xs-4">
          <i>Added {{ friend_data.created_date|date:"d N Y" }} {{ friend_data.created_date|time:"H:i:s" }}</i>
        </div>
      </div>
    {% endfor %}
  </div>
</content>
{% endblock %}
