{% extends "base.html" %}
{% block content %}

<head>
	<link rel="stylesheet" type="text/css" href="app_profile\static\css\app_profil.css" />
	<style>
	.img-circle {
	border-radius: 50%;
	}
	.buletan{
		text-shadow: 2px 0 0 #fff;
		font-family: Lato;
		border: 2px #802392;
		border-radius: 12px;
	}
	@media only screen and (max-width: 768px) {
  #input-list form {
      width: 350px;
  }
}

</style>
</head>
<body style="background-color:F9C80E;">

<h1 style="color:#124E78;"><b style="font-family: Lato">Profile</b></h1>

<img class="img-circle" src="https://i.imgur.com/fy18KSL.jpg"
alt= "hai" width= 150 height= 150  style= "display: block;
margin-left:auto; margin-right: auto;"	/>

<center>
<h2 style="color:#802392;font-family: Arial;"><strong>{{profile.name}}<strong></h2>
</center>

<table align="center" style= "text-align: left; color:#124E78; font-family: Lato, Arial;" width= "35%">
		<tr><td>Birthday</td> <td>{{profile.birthday}}</td></tr>
		<tr><td>Gender</td> <td>{{profile.gender}}</td></tr>
		<tr><td>Expertise</td> <td class="buletan">{%for expertises in expertises%} {{expertises.name}} {% endfor %}</td></tr>
		<tr><td>Description</td> <td>{{profile.description}}</td></tr>
		<tr><td>Email</td> <td>{{profile.email}}</td></tr>
</table>
</body>

{% endblock %}
