body {
    min-height: 2000px;
  }
  
  .navbar-static-top {
    margin-bottom: 19px;
  }
  /*Textarea not resizeable*/
  textarea {
      resize:none
  }
  @media only screen and (max-width: 768px) {
    #input-list form {
        width: 290px;
    }
    .flex{
      flex-basis: auto;
      width: 100%
    }
    .flex-item{
      width: 100%;
      flex: 0 0 100%;
    }
  }

  