.img-circle {
	display: block;
	border-radius: 50%;
	margin-left:auto;
	margin-right: auto;
		}

.buletan{
	text-shadow: 2px 0 0 #fff;
	font-family: Lato;
	border: 2px #802392;
	border-radius: 12px;
}
