.content{
    width:75%;
    margin:0 auto;
}
hr{
    border-color: black;
    width:1200px;
    border-width: 3px;
}
.icon{
    width:60px;
    height:60px;
    margin-left: 30px;
    margin-bottom:0px;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
}
.flex-item{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}
.profile-pic{
    width:200px;
    height:200px;
    border-radius: 50%;
}
.post{
    margin-left: 5px;
}
