{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="\static\css\app_status.css"/>
{% endblock %}

{% block content %}
  <!-- <h1> tes hehe</h1> -->
  <div class = "container-judul">
    <h3 id="title" class="main-title">Update Status</h3>
  </div>
  <div class = "big-container">
  <section name="input-list" id="input-list">
    <div class="container">
        <form id="form_isi" method="POST" action="{% url 'app_status:status_post' %}">
            {% csrf_token %}
            {{ message_form }}
            <button class="btn">Post</button>
            <div class="modal">
              <div class="modal__box">
                <p> Apakah anda yakin ingin melakukan post ? </p>
                <p style="font-size: 10px"> Click post untuk melanjutkan </p>
                <p style="font-size: 10px"> Click sekitar untuk membatalkan </p>


                <input id="submit" type="submit" class="btn btn-sm btn-info" value="Submit">
              </div>
            </div>
            <br>
            </form>
            </div>
            </section>
            <section name="timeline" class="timeline" id="timeline">
            <div class="container">
            <div class="flex">
                {% for data in message %}
                  <div class="flex-item">
                      <div class="to-do-list">
                        <div class="col-xs-2" style="padding-top:20px">
                          <img style="display: inline; border-radius: 50%; width: 110px; height: 110px; margin: auto; max-width: 500px;" class="photo" src="http://thumb.ibb.co/gb1pFb/unknown_profile.jpg" alt="unknown_profile" border="0"/>
                        </div>
                        <div class="col-xs-10" style="padding-top:20px">
                          <p class="to-do-list-name">Misael Jonathan</p>
                          <div class="to-do-list-description">
                              {{data.message}}
                          </div>
                          <div class="to-do-list-date-added">
                              {{data.created_date}}
                          </div>
                          </div>
                          </div>
                      </div>
                      <!-- DIBAWAH INI HARUSNYA KOLOM COMMENT HEHE  -->
                      <!-- <div class="flex">
                        <!-- {% if comment %} -->
                          <!-- {% for data in comment %}
                            <div class="flex-item">
                                <div class="to-do-list">
                                    <p class="to-do-list-name">Misael Jonathan</p>
                                    <div class="to-do-list-description">
                                        {{data.message}}
                                    </div>
                                    <div class="to-do-list-date-added">
                                        {{data.created_date}}
                                    </div>
                            {% endfor %} -->
                        <!-- {% else %}
                        <div class="alert alert-danger text-center">
                          <strong>Oops!</strong> Timeline Kosong
                          </div>
                          {% endif %}
                          </div>
                        </div> -->
                  {% endfor %}
    </section>
  </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
    $(function() {
             $('a[href*="#"]:not([href="#"])').click(function() {
               if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                 var target = $(this.hash);
                 target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                 if (target.length) {
                   $('html, body').animate({
                     scrollTop: target.offset().top - 55
                   }, 1000);
                   return false;
                 }
               }
             });
           });
{% endblock %}
