{% extends "base.html" %}

{% block style %}
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/app_statistic.css' %}" />
{% endblock %}

{% block content %}
		<div class="content">
			<div>
				<h2><img class="icon" src="https://image.flaticon.com/icons/png/512/172/172175.png" style=";">
				<strong>My Stats</strong></h2>
			</div>
			<hr/>
			<div align="center"><img class="profile-pic" src={{picture}} alt="Profil Picture"></div>
			<section name="user-stats" id="user-stats">
				<div class="flex">
					<div class="flex-item">
						<h3><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/96006-200.png" class="icon" id="friend">: {{friends}} People</h3>
					</div>
					<div class="flex-item">
						<h3><img src="https://cdn3.iconfinder.com/data/icons/social-media-networks-logos-and-badges-1/64/Social__RSS-512.png" class="icon" id="feed">: {{feed}} Post</h3>
					</div>
				</div>
			</section>
			<hr/>
			<div class="latest-post">
				<h3>Latest Post</h3>
				<h4 class="post">
					 {{status.created_date}}<br>
					 {{status.message}}
				</h4>
			</div>
		</div>
{% endblock %}
