<!DOCTYPE html>
<style>
html, body {
    margin: 0;
    height: 100%;
}
content{
   margin:0;
   padding:0;
   min-height:100%;
}
#content {
   min-height:100%;
   position:relative;
}
.textcol{
    color: white;
  }
.footer{
  position: relative;
  height: 50px;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  background-color: #efefef;
  text-align: center;
  padding-top: 1px;
}
#footer{
  margin-top: 20px;
}
</style>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Papow">
    <meta name="author" content="Team Papow">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    {% block style %}
    {% endblock %}
    <title>Link.Me</title>
  </head>
  <body style="background-color: #05a5ba;">
    <header>
      {% include "header.html" %}
    </header>
    <div id="content">
      {% block content %}
        <!-- content goes here -->
      {% endblock %}
    </div>

    <div class="footer"><h4 id="footer"><strong>&copy; Team Papow</strong></h4>
    </div>

      <!-- Jquery n Bootstrap Script -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      {% block javascript %}
      {% endblock %}
  </body>
</html>
