<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Link.Me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="nav-link" href="/app_status/">Status</a></li>
        <li><a class="nav-link" href="/app_profile/">Profile</a></li>
        <li> <a class="nav-link" href="/app_addFriend/">Friends</a></li>
        <li><a class="nav-link" href="/app_stats/">Stats</a></li>
      </ul>
    </div>
  </div>
</nav>